<h1>Cocktails</h1>
<h2>index</h2>
<% @cocktails.each_with_index do |cocktail, index| %>
<p><%= cocktail.name %> - <%= link_to 'show', "/cocktails/#{cocktail.id}" %></p>
<% end %>
<%= link_to "add a new cocktail", new_cocktail_path %>
